/* Formulario */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container form {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.container form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  font-size: 1.6rem;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 5px;
}

textarea {
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}