/* Encabezado */
.header {
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.title a {
  color: white;
  text-decoration: none;
  font-size: 3.8rem;
}