/* style notification succes or error */
.notification {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  position: absolute;
  top: 135px;
  left: 40px;
  width: calc(100% - 80px);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification p {
  font-size: 1.6rem;
}

.notification.success {
  background-color: rgb(49, 211, 49);
}

.notification.error {
  background-color: rgb(240, 94, 94);
}